body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(149, 182, 247);
    color: #011e46;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 90%;
    max-width: 500px;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
}

#registrationResponse, #profileResponse {
    margin-top: 20px;
    font-weight: bold;
}
